/*     */
/*reset*/
/*     */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

/*         */
/*variables*/
/*         */

:root {
  /*main colors*/
  --iris-color: #4d5ae5;
  --slate-color: #434455;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --cornflower-color: #e7e9fc;
  --ocean-color: #404bbf;
  --cloud-color: #f4f4fd;
  --dairy-color: #fcfcfc;
  --light-slate-color: #8e8f99;
  --green-color: #31d0aa;
  /*other colors/opacities*/
  --hero-gradient-color: rgba(46, 47, 66, 0.7);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --footer-input-placeholder: rgba(255, 255, 255, 0.6);
  --backdrop-background-color: rgba(46, 47, 66, 0.4);
  /*shadows*/
  --index-header-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --order-service-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --filter-button-shadow-tab: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.08);
  --filter-button-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  --portfolio-page-card-shadow-act: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --portfolio-page-card-shadow-stat: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --footer-input-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --mobile-menu-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  --modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  /*border colors*/
  --mobile-button-border-color: rgba(46, 47, 66, 0.1);
  --modal-button-border-color: rgba(0, 0, 0, 0.1);
  /*font families*/
  --primary-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  /*transition time distribution function*/
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*           */
/*base styles*/
/*           */

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

/* .page {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
} */

.section-beta {
  padding: 96px 0;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.header-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-header {
  margin: 0 auto 72px;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .header-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--white-color);
  }

  .header-three {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  /* .page, */
  .container {
    max-width: 768px;
  }

  .header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
  }
}

@media only screen and (max-width: 1157px) {
  .header-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 1158px) {
  /* .page {
    max-width: 1440px;
  } */

  .section-alfa {
    padding-bottom: 120px;
  }

  .section-beta {
    padding: 120px 0;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
  }
}

/*logo*/

.logo {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

/*             */
/*header styles*/
/*             */

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: var(--index-header-shadow);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
  }
}

.header-link {
  display: block;
  padding: 24px 0;
}

.nav-logo-span {
  color: var(--dark-color);
}

.nav-menu-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-menu-container {
    display: flex;
    max-width: 261px;
    gap: 40px;
    align-items: center;
  }

  .nav-menu-active {
    color: var(--ocean-color);
  }

  .nav-menu {
    position: relative;
    font-weight: 500;
    color: var(--dark-color);
    transition: color 250ms var(--transition-function);
  }

  .nav-menu-active::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
  }
}

.address-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .address-container {
    display: flex;
  }

  .header-address-link {
    display: block;
    padding: 6px 0;
  }

  .address-text {
    transition: color 250ms var(--transition-function);
  }

  .address-text:hover,
  .address-text:focus {
    color: var(--ocean-color);
  }
}

@media only screen and (max-width: 1157px) {
  .address-container {
    flex-direction: column;
    justify-content: center;
  }

  .address-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .address-container {
    gap: 40px;
    align-items: center;
  }

  .header-address-link {
    padding: 24px 0;
  }
}

.menu-hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 250ms var(--transition-function);
}

.menu-hamburger-icon {
  stroke: currentColor;
}

.menu-hamburger-button:hover .menu-hamburger-icon,
.menu-hamburger-button:focus .menu-hamburger-icon {
  stroke: var(--ocean-color);
}

@media only screen and (min-width: 768px) {
  .menu-hamburger-button {
    display: none;
  }
}

/*                           */
/*index.html section 1 styles*/
/*                           */

.hero {
  background-color: var(--dark-color);
  background-image: linear-gradient(
      to bottom,
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url(../images/hero/bg-mob@1x.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/bg-mob@2x.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/bg-tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          var(--hero-gradient-color),
          var(--hero-gradient-color)
        ),
        url(../images/hero/bg-tab@2x.jpg);
    }
  }
}

.hero-header {
  margin: 0 auto 72px;
  max-width: 320px;
}

@media only screen and (min-width: 768px) {
  .hero-header {
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url(../images/hero/bg-desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          var(--hero-gradient-color),
          var(--hero-gradient-color)
        ),
        url(../images/hero/bg-desk@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }

  .hero-header {
    margin-bottom: 48px;
  }
}

.order-service-button {
  border: none;
  background-color: var(--iris-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: var(--order-service-button-shadow);
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  transition: background-color 250ms var(--transition-function);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: var(--ocean-color);
}

/*                           */
/*index.html section 2 styles*/
/*                           */

@media only screen and (max-width: 767px) {
  .webstudio-card:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .webstudio-container {
    display: flex;
    gap: 24px;
  }

  .webstudio-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .webstudio-container {
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .webstudio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.webstudio-card-image {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .webstudio-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud-color);
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 1157px) {
  .webstudio-card-text {
    font-weight: 500;
  }
}

/*                           */
/*index.html section 3 styles*/
/*                           */

.portfolio-section {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .portfolio-section {
    display: block;
  }

  .portfolio-container {
    display: flex;
    gap: 24px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
    max-height: 100%;
  }
}

/*                           */
/*index.html section 4 styles*/
/*                           */

.team {
  background-color: var(--cloud-color);
}

.team-card {
  background-color: var(--white-color);
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

@media only screen and (max-width: 767px) {
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-card:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .team-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-container {
    display: flex;
    gap: 24px;
  }

  .team-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  min-height: 168px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-card {
  /*flex-basis: calc((100% - 3 * 24px) / 4);*/
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-color);
  transition: background-color 250ms var(--transition-function);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean-color);
}

.team-social-icon {
  fill: var(--cloud-color);
}

/*                           */
/*index.html section 5 styles*/
/*                           */

.customers-card {
  max-width: 190px;
  min-height: 88px;
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--light-slate-color);
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-function),
    color 250ms var(--transition-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}

.customers-icon {
  fill: currentColor;
}

@media only screen and (max-width: 767px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
  }

  .customers-card {
    flex-basis: calc((100% - 16px) / 2);
  }

  .customers-icon {
    width: 110px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .customers-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
    max-width: 170px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    display: flex;
    gap: 24px;
  }

  .customers-card {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

/*                             */
/*portfolio.html section styles*/
/*                             */

.portfolio-page-section {
  padding: 48px 0;
}

@media only screen and (min-width: 768px) {
  .portfolio-page-section {
    padding: 64px 0 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-section {
    padding: 100px 0 120px;
  }
}

/*portfolio.html filter styles*/

.portfolio-page-container {
  display: flex;
  gap: 16px 24px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
}

.filter-button {
  font-family: var(--primary-font-family);
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 250ms var(--transition-function),
    border-color 250ms var(--transition-function),
    color 250ms var(--transition-function);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean-color);
  border-color: transparent;
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .portfolio-page-container {
    flex-wrap: wrap;
    width: 269px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-page-container {
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
  }

  .filter-button {
    padding: 12px 24px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-function);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .filter-button:hover,
  .filter-button:focus {
    box-shadow: var(--filter-button-shadow-tab);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-container {
    margin-bottom: 72px;
  }

  .filter-button:hover,
  .filter-button:focus {
    box-shadow: var(--filter-button-shadow);
  }
}

/*portfolio.html portfolio styles*/

.portfolio-page-list-container {
  display: flex;
  gap: 48px;
}

@media only screen and (max-width: 767px) {
  .portfolio-page-list-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-page-list-container {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-list-container {
    row-gap: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-page-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-page-card-link {
  display: block;
  transition: box-shadow 250ms var(--transition-function);
}

@media only screen and (max-width: 1157px) {
  .portfolio-page-card-link {
    box-shadow: var(--portfolio-page-card-shadow-stat);
  }
}

.portfolio-page-card-link:hover,
.portfolio-page-card-link:focus {
  box-shadow: var(--portfolio-page-card-shadow-act);
}

@media only screen and (min-width: 768px) {
  .portfolio-page-card-link:hover .portfolio-page-card-content,
  .portfolio-page-card-link:focus .portfolio-page-card-content {
    border: none;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-card-link:hover .portfolio-page-card-content,
  .portfolio-page-card-link:focus .portfolio-page-card-content {
    border: 1px solid var(--cloud-color);
    border-top: none;
  }
}

.portfolio-page-card:hover .portfolio-page-card-overlay,
.portfolio-page-card:focus .portfolio-page-card-overlay {
  transform: translateY(0);
}

.portfolio-page-card-wrapper {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .tab-desk-image {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mob-image {
    display: none;
  }

  .tab-desk-image {
    height: 298.5px;
  }
}

.portfolio-page-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-function);
}

.portfolio-page-card-content {
  padding: 32px 16px;
  background-color: var(--white-color);
  border: 1px solid var(--cloud-color);
  border-top: none;
}

@media only screen and (min-width: 1158px) {
  .portfolio-page-card-content {
    border: 1px solid var(--cornflower-color);
    border-top: none;
  }
}

.portfolio-page-card-text {
  margin-top: 8px;
}

/*             */
/*footer styles*/
/*             */

.footer {
  background-color: var(--dark-color);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    gap: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 92px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-logo-container {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud-color);
}

.footer-paragraph {
  width: 264px;
}

@media only screen and (max-width: 767px) {
  .footer-paragraph {
    width: 268px;
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .footer-media-container {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-media-container {
    margin-right: 80px;
  }
}

.footer-label {
  display: block;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 16px;
  /*the following is unnecessary staff I have added
   in order to satisfy autocheck requirements*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-card {
  /*flex-basis: calc((100% - 3 * 16px) / 4);*/
  width: 40px;
  height: 40px;
}

.footer-card-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms var(--transition-function);
}

.footer-card-link:hover,
.footer-card-link:focus {
  background-color: var(--green-color);
}

.footer-card-icon {
  fill: var(--cloud-color);
}

@media only screen and (max-width: 767px) {
  .footer-form-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.footer-form {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .footer-form {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    gap: 24px;
    min-width: 455px;
  }
}

.footer-form-label {
  width: 100%;
}
.footer-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 4px;
  filter: drop-shadow(var(--footer-input-shadow));
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

@media only screen and (min-width: 428px) {
  .footer-input {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 266px;
  }
}

@media only screen and (max-width: 1157px) {
  .footer-input {
    border-color: var(--footer-input-border);
  }

  .footer-input::placeholder {
    color: var(--footer-input-placeholder);
  }
}

.footer-button {
  border: none;
  display: flex;
  height: 40px;
  width: 165px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--iris-color);
  cursor: pointer;
  color: var(--white-color);
  text-align: center;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-button-icon {
  fill: var(--white-color);
  margin-left: 16px;
}
/*                  */
/*mobile menu styles*/
/*                  */

.menu-hamburger-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-color);
  box-shadow: var(--mobile-menu-shadow);
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms var(--transition-function);
}

.menu-hamburger-container.is-open {
  transform: translateX(0);
}

.menu-hamburger-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid var(--mobile-button-border-color);
  border-radius: 50%;
  background-color: var(--cornflower-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-function),
    border 250ms var(--transition-function);
}

.menu-hamburger-close-button:hover,
.menu-hamburger-close-button:focus {
  background-color: var(--ocean-color);
  border: none;
}

.mobile-nav-container {
  margin-bottom: auto;
}

.mobile-nav-card:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-link {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  transition: color 250ms var(--transition-function);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--ocean-color);
}

.mobile-address-tel {
  display: block;
  color: var(--iris-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 40px;
}

@media only screen and (min-width: 428px) {
  .mobile-address-tel {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
  }
}

.mobile-address-mail {
  display: block;
  color: var(--slate-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 48px;
}

@media only screen and (max-width: 427px) {
  .mobile-social-list {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 428px) {
  .mobile-social-list {
    display: flex;
    gap: 56px;
  }
}

.mobile-social-card {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-color);
  transition: background-color 250ms var(--transition-function);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--ocean-color);
}

.mobile-social-icon {
  fill: var(--cloud-color);
}

/*                              */
/*index.html modal window styles*/
/*                              */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: var(--backdrop-background-color);
  transition: opacity 250ms var(--transition-function),
    visibility 250ms var(--transition-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-height: 584px;
  background-color: var(--dairy-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  transition: transform 250ms var(--transition-function);
  padding: 56px 10px 24px;
}

@media only screen and (min-width: 428px) {
  .modal {
    width: 392px;
    min-height: 584px;
    padding: 72px 16px 24px;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid var(--modal-button-border-color);
  border-radius: 50%;
  background-color: var(--cornflower-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-function),
    border 250ms var(--transition-function);
}

@media only screen and (min-width: 428px) {
  .modal-close-button {
    top: 24px;
    right: 24px;
  }
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean-color);
  border: none;
}

.modal-close-button-cross {
  transition: fill 250ms var(--transition-function);
}

.modal-close-button:hover .modal-close-button-cross,
.modal-close-button:focus .modal-close-button-cross {
  fill: var(--white-color);
}

.modal-invitation {
  color: var(--dark-color);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

@media only screen and (min-width: 428px) {
  .modal-invitation {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.modal-form {
  border-radius: 4px;
  margin-bottom: 12px;
  /********************************************************/
  height: 375px;
  width: 280px;
}

@media only screen and (min-width: 428px) {
  .modal-form {
    margin-bottom: 16px;
    height: 336px;
    width: 360px;
  }
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-form-container-last {
  margin-bottom: 12px;
}

@media only screen and (min-width: 428px) {
  .modal-form-container-last {
    margin-bottom: 16px;
  }
}

.modal-form-label {
  display: block;
  color: var(--light-slate-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--backdrop-background-color);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms var(--transition-function);
}

.modal-form-input:not(:last-child) {
  padding: 8px 0 8px 26px;
  height: 30px;
  font-size: 14px;
}

@media only screen and (min-width: 428px) {
  .modal-form-input:not(:last-child) {
    padding: 8px 0 8px 38px;
    height: 40px;
    font-size: 18px;
  }
}

.modal-form-input:focus {
  border-color: var(--iris-color);
}

.modal-form-icon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-color);
  transition: fill 250ms var(--transition-function);
}

@media only screen and (min-width: 428px) {
  .modal-form-icon {
    left: 16px;
  }
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris-color);
}

.modal-form-textarea {
  height: 90px;
  padding: 8px 6px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--backdrop-background-color);
  resize: none;
}

@media only screen and (min-width: 428px) {
  .modal-form-textarea {
    height: 120px;
    padding: 8px 16px;
  }
}

.modal-form-textarea::placeholder {
  color: var(--backdrop-background-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

.modal-checkbox-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  height: 28px;
  width: 280px;
}

@media only screen and (min-width: 428px) {
  .modal-checkbox-container {
    margin-bottom: 24px;
    height: 16px;
    width: 360px;
  }
}

.modal-checkbox-label {
  display: block;
  padding-left: 24px;
  color: var(--light-slate-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox-span {
  position: absolute;
  left: 0;
  bottom: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid var(--backdrop-background-color);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-function),
    fill 250ms var(--transition-function),
    border 250ms var(--transition-function);
}

@media only screen and (min-width: 428px) {
  .modal-checkbox-span {
    bottom: 1px;
  }
}

input.visually-hidden:checked + .modal-checkbox-label .modal-checkbox-span {
  background-color: var(--ocean-color);
  fill: var(--cloud-color);
  border: none;
}

.modal-checkbox-link {
  text-decoration: underline;
  color: var(--iris-color);
}

.modal-submit-button {
  display: block;
  min-width: 153px;
  margin: 0 auto;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms var(--transition-function);
  cursor: pointer;
}

@media only screen and (min-width: 428px) {
  .modal-submit-button {
    padding: 16px 32px;
    min-width: 169px;
  }
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: var(--ocean-color);
}
